<div>
    <h2>
        <span jhiTranslate="statusVideoApp.rzecApplicationProperties.home.title">Rzec Application Properties</span>
        <button class="btn btn-primary float-right jh-create-entity create-rzec-application-properties" [routerLink]="['/', { outlets: { popup: ['rzec-application-properties-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="statusVideoApp.rzecApplicationProperties.home.createLabel">
            Create new Rzec Application Properties
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="rzecApplicationProperties">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="propertyName"><span jhiTranslate="statusVideoApp.rzecApplicationProperties.propertyName">Property Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="statusVideoApp.rzecApplicationProperties.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="value"><span jhiTranslate="statusVideoApp.rzecApplicationProperties.value">Value</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let rzecApplicationProperties of rzecApplicationProperties ;trackBy: trackId">
                <td><a [routerLink]="['../rzec-application-properties', rzecApplicationProperties.id ]">{{rzecApplicationProperties.id}}</a></td>
                <td>{{rzecApplicationProperties.propertyName}}</td>
                <td>{{rzecApplicationProperties.description}}</td>
                <td>{{rzecApplicationProperties.value}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../rzec-application-properties', rzecApplicationProperties.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'rzec-application-properties/'+ rzecApplicationProperties.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'rzec-application-properties/'+ rzecApplicationProperties.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="rzecApplicationProperties && rzecApplicationProperties.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
