<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myRzecApplicationPropertiesLabel" jhiTranslate="statusVideoApp.rzecApplicationProperties.home.createOrEditLabel">Create or edit a Rzec Application Properties</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!rzecApplicationProperties.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="rzecApplicationProperties.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="statusVideoApp.rzecApplicationProperties.propertyName" for="field_propertyName">Property Name</label>
            <input type="text" class="form-control" name="propertyName" id="field_propertyName"
                [(ngModel)]="rzecApplicationProperties.propertyName"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="statusVideoApp.rzecApplicationProperties.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="rzecApplicationProperties.description"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="statusVideoApp.rzecApplicationProperties.value" for="field_value">Value</label>
            <input type="text" class="form-control" name="value" id="field_value"
                [(ngModel)]="rzecApplicationProperties.value"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
