
<div *ngIf="rzecApplicationProperties">
    <h2><span jhiTranslate="statusVideoApp.rzecApplicationProperties.detail.title">Rzec Application Properties</span> {{rzecApplicationProperties.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="statusVideoApp.rzecApplicationProperties.propertyName">Property Name</span></dt>
        <dd>
            <span>{{rzecApplicationProperties.propertyName}}</span>
        </dd>
        <dt><span jhiTranslate="statusVideoApp.rzecApplicationProperties.description">Description</span></dt>
        <dd>
            <span>{{rzecApplicationProperties.description}}</span>
        </dd>
        <dt><span jhiTranslate="statusVideoApp.rzecApplicationProperties.value">Value</span></dt>
        <dd>
            <span>{{rzecApplicationProperties.value}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'rzec-application-properties/'+ rzecApplicationProperties.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
