
<div *ngIf="filters">
    <h2><span jhiTranslate="statusVideoApp.filters.detail.title">Filters</span> {{filters.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="statusVideoApp.filters.genre">Genre</span></dt>
        <dd>
            <span>{{filters.genre}}</span>
        </dd>
        <dt><span jhiTranslate="statusVideoApp.filters.tag">Tag</span></dt>
        <dd>
            <span>{{filters.tag}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'filters/'+ filters.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
