
<div *ngIf="videos">
    <h2><span jhiTranslate="statusVideoApp.videos.detail.title">Videos</span> {{videos.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="statusVideoApp.videos.name">Name</span></dt>
        <dd>
            <span>{{videos.name}}</span>
        </dd>
        <dt><span jhiTranslate="statusVideoApp.videos.url">Url</span></dt>
        <dd>
            <span>{{videos.url}}</span>
        </dd>
        <dt><span jhiTranslate="statusVideoApp.videos.views">Views</span></dt>
        <dd>
            <span>{{videos.views}}</span>
        </dd>
        <dt><span jhiTranslate="statusVideoApp.videos.tag">Tag</span></dt>
        <dd>
            <span>{{videos.tag}}</span>
        </dd>
        <dt><span jhiTranslate="statusVideoApp.videos.actor">Actor</span></dt>
        <dd>
            <span>{{videos.actor}}</span>
        </dd>
        <dt><span jhiTranslate="statusVideoApp.videos.createdDate">Created Date</span></dt>
        <dd>
            <span>{{videos.createdDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="statusVideoApp.videos.genre">Genre</span></dt>
        <dd>
            <span>{{videos.genre}}</span>
        </dd>
        <dt><span jhiTranslate="statusVideoApp.videos.language">Language</span></dt>
        <dd>
            <span jhiTranslate="{{'statusVideoApp.Language.' + videos.language}}">{{videos.language}}</span>
        </dd>
        <dt><span jhiTranslate="statusVideoApp.videos.credits">Credits</span></dt>
        <dd>
            <span>{{videos.credits}}</span>
        </dd>
        <dt><span jhiTranslate="statusVideoApp.videos.image_url">Image Url</span></dt>
        <dd>
            <span>{{videos.image_url}}</span>
        </dd>
        <dt><span jhiTranslate="statusVideoApp.videos.movie_name">Movie Name</span></dt>
        <dd>
            <span>{{videos.movie_name}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'videos-my-suffix/'+ videos.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
