<div>
    <h2>
        <span jhiTranslate="statusVideoApp.videos.home.title">Videos</span>
        <button class="btn btn-primary float-right jh-create-entity create-videos-my-suffix" [routerLink]="['/', { outlets: { popup: ['videos-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="statusVideoApp.videos.home.createLabel">
            Create new Videos
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="videos">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="statusVideoApp.videos.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="url"><span jhiTranslate="statusVideoApp.videos.url">Url</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="views"><span jhiTranslate="statusVideoApp.videos.views">Views</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="tag"><span jhiTranslate="statusVideoApp.videos.tag">Tag</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="actor"><span jhiTranslate="statusVideoApp.videos.actor">Actor</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdDate"><span jhiTranslate="statusVideoApp.videos.createdDate">Created Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="genre"><span jhiTranslate="statusVideoApp.videos.genre">Genre</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="language"><span jhiTranslate="statusVideoApp.videos.language">Language</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="credits"><span jhiTranslate="statusVideoApp.videos.credits">Credits</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="image_url"><span jhiTranslate="statusVideoApp.videos.image_url">Image Url</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="movie_name"><span jhiTranslate="statusVideoApp.videos.movie_name">Movie Name</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let videos of videos ;trackBy: trackId">
                <td><a [routerLink]="['../videos-my-suffix', videos.id ]">{{videos.id}}</a></td>
                <td>{{videos.name}}</td>
                <td>{{videos.url}}</td>
                <td>{{videos.views}}</td>
                <td>{{videos.tag}}</td>
                <td>{{videos.actor}}</td>
                <td>{{videos.createdDate | date:'medium'}}</td>
                <td>{{videos.genre}}</td>
                <td jhiTranslate="{{'statusVideoApp.Language.' + videos.language}}">{{videos.language}}</td>
                <td>{{videos.credits}}</td>
                <td>{{videos.image_url}}</td>
                <td>{{videos.movie_name}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../videos-my-suffix', videos.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'videos-my-suffix/'+ videos.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'videos-my-suffix/'+ videos.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="videos && videos.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
