<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myVideosLabel" jhiTranslate="statusVideoApp.videos.home.createOrEditLabel">Create or edit a Videos</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!videos.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="videos.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="statusVideoApp.videos.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="videos.name"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="statusVideoApp.videos.url" for="field_url">Url</label>
            <input type="text" class="form-control" name="url" id="field_url"
                [(ngModel)]="videos.url"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="statusVideoApp.videos.views" for="field_views">Views</label>
            <input type="number" class="form-control" name="views" id="field_views"
                [(ngModel)]="videos.views"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="statusVideoApp.videos.tag" for="field_tag">Tag</label>
            <input type="text" class="form-control" name="tag" id="field_tag"
                [(ngModel)]="videos.tag"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="statusVideoApp.videos.actor" for="field_actor">Actor</label>
            <input type="text" class="form-control" name="actor" id="field_actor"
                [(ngModel)]="videos.actor"  />
        </div>
        <!--<div class="form-group">
            <label class="form-control-label" jhiTranslate="statusVideoApp.videos.createdDate" for="field_createdDate">Created Date</label>
            <div class="d-flex">
                <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" [(ngModel)]="videos.createdDate"
                  />
            </div>
        </div>-->
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="statusVideoApp.videos.genre" for="field_genre">Genre</label>
            <input type="text" class="form-control" name="genre" id="field_genre"
                [(ngModel)]="videos.genre"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="statusVideoApp.videos.language" for="field_language">Language</label>
            <select class="form-control" name="language" [(ngModel)]="videos.language" id="field_language" >
                <option value="TAMIL">{{'statusVideoApp.Language.TAMIL' | translate}}</option>
                <option value="HINDI">{{'statusVideoApp.Language.HINDI' | translate}}</option>
                <option value="TELUGU">{{'statusVideoApp.Language.TELUGU' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="statusVideoApp.videos.credits" for="field_credits">Credits</label>
            <input type="text" class="form-control" name="credits" id="field_credits"
                [(ngModel)]="videos.credits"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="statusVideoApp.videos.image_url" for="field_image_url">Image Url</label>
            <input type="text" class="form-control" name="image_url" id="field_image_url"
                [(ngModel)]="videos.image_url"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="statusVideoApp.videos.movie_name" for="field_movie_name">Movie Name</label>
            <input type="text" class="form-control" name="movie_name" id="field_movie_name"
                [(ngModel)]="videos.movie_name"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
